.container{
  width: 42px;
  height: 24px;
  border: 1.5px solid #f1802d;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon{
  font-size: 11px;
}

.ball{
  width: 16px;
  height: 16px;
  background-color: #f1802d;
  border-radius: 50%;
  position: absolute;
}