.container {
    padding: 1.25rem 2rem;
    font-size:medium;
    cursor: pointer;
    background-color: #f1802d;
    border: none;
    width: max-content;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
}

.container:hover {
    background-color: #c06624;
  }